Data struct and objects

In [1]:
# integer
# - data structure

# whole number

a = 10
b = 20

In [4]:
a + b

30

In [5]:
type(a)

int

In [6]:
c=4.5
d=6.7

In [7]:
c+d

11.2

In [10]:
name= "Rohan"
name1= "Mehra"

In [12]:
name

'Rohan'

In [16]:
name + " "+ name1

'Rohan Mehra'

In [17]:
day1 = ["got up", "brushed", 19, 19.5, ["kidding"]]

In [18]:
day1

['got up', 'brushed', 19, 19.5, ['kidding']]

In [19]:
day1[0]

'got up'

In [22]:
day1[4][0]

'kidding'

In [23]:
day1.append("Rithik")

In [86]:
day1

[]

In [88]:
day2=["eating","sleeping","coding"]

In [91]:
day2

['eating', 'sleeping', 'coding']

In [97]:
day3= day2.copy

In [99]:
day3()

['eating', 'sleeping', 'coding']

In [103]:
day2.count(2)

0

In [104]:
day1.extend(day2)

In [112]:
print ("extended list: ", day1)

extended list:  ['eating', 'sleeping', 'coding']

In [136]:
day4= ["jammu","kashmir","Lake"]

In [137]:
day4

['jammu', 'kashmir', 'Lake']

In [115]:
day4

['jammu', 'kashmir']

In [118]:
day2.extend(day4)

In [138]:
print("extended list: ",day2)

extended list:  ['eating', 'sleeping', 'coding', 'jammu', 'kashmir', 'eating', 'sleeping', 'coding', 'jammu', 'kashmir']

In [121]:
day4.index("jammu")

0

In [124]:
day4.insert(3,"sweet")

In [125]:
day4

['jammu', 'kashmir', 'sweet']

In [127]:
day4.pop(2)

'sweet'

In [128]:
day4

['jammu', 'kashmir']

In [130]:
day4.remove("jammu")

In [131]:
day4

['kashmir']

In [132]:
day4.reverse()

In [133]:
day4

['kashmir']

In [135]:
day4.sort()

In [139]:
day4

['jammu', 'kashmir', 'Lake']

#DICTIONARY

In [26]:
day1.index("brushed")

1

In [37]:
dit= {"Name":"RithikMehra","AGE":"19", "email": "rithikmehra123@gmail.com"}

In [39]:
dit

{'Name': 'RithikMehra', 'AGE': '19', 'email': 'rithikmehra123@gmail.com'}

In [44]:
dit.get("AGE")

'19'

In [46]:
dit.items()

dict_items([('Name', 'RithikMehra'), ('AGE', '19'), ('email', 'rithikmehra123@gmail.com')])

In [48]:
dit.copy()

{'Name': 'RithikMehra', 'AGE': '19', 'email': 'rithikmehra123@gmail.com'}

In [55]:
dit.fromkeys("Name")

{'N': None, 'a': None, 'm': None, 'e': None}

In [58]:
dit.get("Name")

'RithikMehra'

In [60]:
dit.keys()

dict_keys(['Name', 'AGE', 'email'])

In [62]:
dit.pop("Name")

'RithikMehra'

In [70]:
st= {"Rithik",1,2,6,2,3,4,3,4,33,5,6,7, "Gamingacademy"}

In [71]:
st

{1, 2, 3, 33, 4, 5, 6, 7, 'Gamingacademy', 'Rithik'}

In [146]:
dict= {"Name":"RithikMehra","AGE":"19", "email": "rithikmehra123@gmail.com"}

In [147]:
dict

{'Name': 'RithikMehra', 'AGE': '19', 'email': 'rithikmehra123@gmail.com'}

In [150]:
dict2=dict.setdefault("Name")

In [151]:
dict2

'RithikMehra'

In [153]:
dict2.capitalize(0)

TypeError: capitalize() takes no arguments (1 given)

In [154]:
dict2.capitalize()

'Rithikmehra'

In [155]:
dict2.casefold()

'rithikmehra'

In [157]:
dict3= {"i will travek the world"}

In [158]:
dict3

{'i will travek the world'}

In [160]:
dict4= dict3.difference()

In [161]:
dict4

{'i will travek the world'}

In [162]:
dict4.add("travel")

In [163]:
dict4

{'i will travek the world', 'travel'}

In [164]:
dict4=dict3.difference_update()

In [165]:
dict4

In [166]:

myset = set(["a", "b", "c"]) 
print(myset) 
  

myset.add("d") 
print(myset)

{'c', 'b', 'a'}
{'c', 'b', 'a', 'd'}

In [171]:
myset.clear()

In [172]:
myset

set()

In [173]:
myset= set(["q","e","r","t","y"])

In [174]:
myset

{'e', 'q', 'r', 't', 'y'}

In [178]:
myset1=myset.copy()

In [179]:
myset1

{'e', 'q', 'r', 't', 'y'}

In [180]:
myset.difference(myset1)

set()

In [189]:
myset2=myset.copy()

In [190]:
myset2

{'e', 'q', 'r', 't', 'y'}

In [191]:
myset.difference(myset2)

set()

In [195]:
myset.pop()

'e'

In [ ]:
tuple

In [181]:
tuple1=("apple","is","sweet")

In [182]:
tuple1

('apple', 'is', 'sweet')

In [185]:
tuple1.count(1)

0

In [187]:
tuple1.index("sweet")

2

In [196]:
string="naruto uzumaki is also nine tailed fox"

In [198]:
string.capitalize()

'Naruto uzumaki is also nine tailed fox'

In [199]:
string.casefold()

'naruto uzumaki is also nine tailed fox'

In [202]:
string.center(108)

'                                   Naruto uzumaki is also nine tailed fox                                   '

In [210]:
string.count("naruto",5)

0